<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.zenbaei.kalematAlQuraan.component">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".setting.SettingsActivity" />

        <meta-data
            android:name="android.app.default_searchable"
            android:value="org.zenbaei.kalematAlQuraan.component.search.SearchHandlerActivity" />

        <activity
            android:name=".progress.ProgressActivity"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".surah.view.SurahActivity"
            android:launchMode="singleTop"
            android:noHistory="false"
            android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
        </intent-filter>
        </activity>
        <activity
            android:name=".author.IntroActivity"
            android:launchMode="singleTop"
            android:noHistory="true" />
        <activity
            android:name=".ayah.view.AyahActivity"
            android:launchMode="singleTop"
            android:noHistory="false" />
        <activity
            android:name=".menu.FavActivity"
            android:launchMode="singleTop"
            android:noHistory="false" />
        <activity
            android:name=".ayah.view.SingleAyahActivity"
            android:launchMode="singleTop"
            android:noHistory="true" /> <!-- Search results activity -->
        <activity
            android:name=".search.SearchHandlerActivity"
            android:launchMode="singleTask"
            android:noHistory="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="org.zenbaei.kalematAlQuraan.common.notification.NotificationActivity"
            android:launchMode="singleTask"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Holo.Dialog"
            />

        <activity
            android:name="org.zenbaei.kalematAlQuraan.utils.AndroidDatabaseManager"
            android:label="@string/app_name" /> <!-- Provides search suggestions for words and their definitions. -->
        <provider
            android:name=".ayah.contentProvider.KalematContentProvider"
            android:authorities="com.example.android.searchabledict.DictionaryProvider" />

        <receiver android:name="org.zenbaei.kalematAlQuraan.common.StartOnBoot"
            android:exported="true">
        <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver android:name="org.zenbaei.kalematAlQuraan.common.notification.NotificationReceiver" />
    </application>
</manifest>